$def with (form)
<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>
      ICARO :: Semestre 1-2017 - Inscripci&oacute;n de laboratorios.
    </title>
    <link rel=stylesheet type=text/css href=static/styles.css>
    <link href=img/favicon.ico rel=icon type=image/x-icon />
  </head>
  <body>
    <table id=main_table>
      <tr>
        <td id=main_cell>
          <table>
            <tr>
              <td colspan=2>
                <br>
                <div class=text_style id=banner>
                  <h2> Inscripci&oacute;n de laboratorios :: Semestre 1-2017 </h2>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan=2>
                <hr />
              </td>
            </tr>
            <tr>
              <td style=vertical-align:top>
                <form action="" method=post>
                $:form.render()
                </form>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div class=text_style>
      <p style=text-align:center;>
        Laboratorio ICARO, Escuela de Computaci&oacute;n, Facultad de Ciencias, Universidad Central de Venezuela.
      </p>
    </div>
  </body>
</html>
